@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;
.main-button, .second-button {
    @extend %standard-buttons-classes;
    border: 2px solid $main-color;
    overflow: hidden;
}

.main-button {
    background-color: $main-color;
    color: $light-color1;

    &:hover {
        background-color: lighten($main-color, 10%);
        box-shadow: 0 0 $second-color;
        border: 2px solid lighten($main-color, 10%);
    }
}

.second-button {
    position: relative;
    background-color: $light-color1;

    span {
        position: relative;
        color: $main-color;
        z-index: 2;
        transition: inherit;
    }

    &::before {
        content: '';
        width: 150%;
        height: 200%;
        border-radius: 50%;
        background-color: $second-color;
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        transition: inherit;
    }

    &:hover {
        border-color: $second-color;
        box-shadow: 0 0 $second-color;

        span {
            color: $light-color1;
        }

        &::before {
            top: -20px;
        }
    }
}

.third-button {
    @extend %standard-buttons-classes;
    background-color: $light-color1;
    color: $main-color;
    border: 2px solid $light-color1;

    &:hover {
        background-color: $second-color;
        color: $light-color1;
        box-shadow: 2px 2px 0 $light-color1;
        border-color: $second-color;
    }
}