@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;
@use "../abstracts/functions" as *;

.lgpd-box {
  position: fixed;
  bottom: 4%;
  left: 2%;
  max-width: 360px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 9999;

  .title {
    font-weight: 600;
    color: rgb(31 41 55);
  }

  .description {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(75 85 99);
  }

  .description a {
    color: rgb(59 130 246);
  }

  .description a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    flex-shrink: 0;

    .accept {
      font-size: 0.75rem;
      line-height: 1rem;
      background-color: $main-color;
      font-weight: 500;
      border-radius: 0.5rem;
      color: #fff;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      cursor: pointer;
      border: none;
      transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        background-color: $second-color;
      }

      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }
  }
}
