@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;
@use "../abstracts/functions" as *;

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Book.woff2') format('woff2'),
        url('/fonts/Gotham-Book.woff') format('woff'),
        url('/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold.woff2') format('woff2'),
        url('/fonts/Gotham-Bold.woff') format('woff'),
        url('/fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Black.woff2') format('woff2'),
        url('/fonts/Gotham-Black.woff') format('woff'),
        url('/fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Ultra.woff2') format('woff2'),
        url('/fonts/Gotham-Ultra.woff') format('woff'),
        url('/fonts/Gotham-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
